# Configuration file for the sorting service
#
# Write the rule for the sorting service following the pattern below:
#
#       <attribute#1> <direction#1>, ..., <attribute#N> <direction#N>
#
#       Example:
#       rules = author asc, title desc
#
# Possible values for <attribute>:
#		title
#		author
#		edition
#
# Possible values for <direction>
#		asc
#		desc

rules = edition desc, author desc, title asc